<!-- 
 File: app.component.html
 Author: Nyiri István
 Copyright: 2023, Nyiri István
 Group: Szoft_II_N
 Date: 2023-04-19
 Github: https://github.com/nyiriistván
 Licenc: GNU GPL
 -->
 <h3>Hajók Adatai</h3>

 <table class="table table-striped">
     <thead>
         <tr>
             <th>Név</th>
             <th>Hosszúág</th>
             <th>Ár</th>
             <th>Személy</th>
             <th>Trailer</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let ships of ships">
             <td>{{ships.name}}</td>
             <td>{{ships.length}}</td>
             <td>{{ships.price}}</td>
             <td>{{ships.person}}</td>
             <td>{{ships.trailer}}</td>
         </tr>
     </tbody>
 </table>
 
 <h2>Gubis Zsombor Dániel, Szoft_II_N, 2023.04.19</h2>
 <form #shipForm="ngForm" (ngSubmit)="onSubmit(shipForm)">
     <div class="form-group">
       <label for="name">Név</label>
       <input type="text" class="form-control" name="name" ngModel required>
     </div>
     <div class="form-group">
       <label for="length">Hosszúság</label>
       <input type="number" class="form-control" name="length" ngModel required>
     </div>
     <div class="form-group">
       <label for="price">Ár</label>
       <input type="number" class="form-control" name="price" ngModel required>
     </div>
     <div class="form-group">
       <label for="person">Személyek száma</label>
       <input type="number" class="form-control" name="person" ngModel required>
     </div>
     <div class="form-group">
       <label for="trailer">Trailer</label>
       <input type="text" class="form-control" name="trailer" ngModel required>
     </div>
     <button type="submit" class="btn btn-primary">Hozzáadás</button>
   </form>